.logoHeader {
  background-color: #0c4d78;
  width: 100vw;
  padding: 15px;
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }
}
.showMenuContainer {
  width: 100vw;
  #showMenu {
    background-color: transparent;
    width: 300px;
    display: block;
    margin: 0 auto;
    .startButton {
      display: block;
      margin: 15px auto;
      border-radius: 100%;
    }
  }
}

#mainNav {
  .navContainer {
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 139, 0.4);
    height: 100vh;
    margin: 0 auto;
  }
}

@include breakpoint(large x-large) {
  #topNav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#81f1ff+0,81f1ff+28,81f1ff+52,81f1ff+100&0.03+0,0.07+28,0.15+52,0.02+100 */
    background: -moz-linear-gradient(top, rgba(129, 241, 255, 0.03) 0%, rgba(129, 241, 255, 0.07) 28%, rgba(129, 241, 255, 0.15) 52%, rgba(129, 241, 255, 0.02) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(129, 241, 255, 0.03) 0%, rgba(129, 241, 255, 0.07) 28%, rgba(129, 241, 255, 0.15) 52%, rgba(129, 241, 255, 0.02) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(129, 241, 255, 0.03) 0%, rgba(129, 241, 255, 0.07) 28%, rgba(129, 241, 255, 0.15) 52%, rgba(129, 241, 255, 0.02) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0881f1ff', endColorstr='#0581f1ff', GradientType=0); /* IE6-9 */
    ul {
      display: block;
      margin: 0 auto;
    }
    li {
      list-style: none;
      display: inline-block;
      margin: 0 1rem;
      a {
        font-family: $topNav-font;
        color: $digital;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-shadow: -1px -1px 1px $digital;
        opacity: .5;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        -o-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        &:hover {
          opacity: 1;
          text-shadow: -1px -2px 2px $digital;
        }
        @include breakpoint(large) {
        }
      }
    }
  }
}