.homepage {
  h1 {
    text-align: center;
  }
  @include breakpoint(large) {
    text-align: left;
  }
}
.image-right {
  float:right;
  display:block;
  max-width:450px;
  margin-left:35px;
}

.image-left {
  float:left;
  display:block;
  max-width:450px;
  margin-right:35px;
}

.spacer {
  display: block;
  width: 100%;
  clear: both;
}

.section {
  display: block;
  width: 100%;
  clear: both;
  min-height: 310px;
  margin-bottom: 35px;
}

