.homepage {
  h1, h2 {
    text-align: center;
  }
  @include breakpoint(large) {
    text-align: left;
  }
}

.container {
  @include breakpoint(large) {
    margin-left: 300px;
    margin-top: 50px;
  }
}

.leather_borders {
  @include breakpoint(medium) {
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    display: block;
    position: fixed;
    .left {
      background: url(../img/leather_border_left.jpg);
      background-repeat: repeat-y;
      display: block;
      position: fixed;
      width: 216px;
      height: 100%;
      left: 0;
    }
    .right {
      background: url(../img/leather_border_right.jpg);
      background-repeat: repeat-y;
      display: block;
      position: fixed;
      width: 216px;
      height: 100%;
      right: 0;
    }
  }
}

.image-right {
  float:right;
  display:block;
  max-width:450px;
  margin-left:35px;
}

.image-left {
  float:left;
  display:block;
  max-width:450px;
  margin-right:35px;
}

.spacer {
  display: block;
  width: 100%;
  clear: both;
}

.section {
  display: block;
  width: 100%;
  clear: both;
  min-height: 310px;
  margin-bottom: 35px;
}

