<div class="">
    <ul>
        <li>
            <a hreff="{{root}}">home</a>
        </li>
        <li>
            <a href="{{root}}">the cars</a>
        </li>
        <li>
            <a href="{{root}}">memberships</a>
        </li>
        <li>
            <a href="{{root}}">car rallies</a>
        </li>
        <li>
            <a href="{{root}}">other services</a>
        </li>
    </ul>
</div>
<div class="show-for-large">
    <a href="#" class="startButton" id="playCarSound" onclick="playCarSound()">
    </a>
    <audio id="audio" src="{{root}}/assets/sounds/911.wav" ></audio>
</div>