<div class="">
    <ul>
        <li>
            <a href="{{root}}">home</a>
        </li>
        <li>
            <a href="{{root}}the-cars">the cars</a>
        </li>
        <li>
            <a href="{{root}}memberships">memberships</a>
        </li>
        <li>
            <a href="{{root}}car-rallies">car rallies</a>
        </li>
        <li>
            <a href="{{root}}other-services">other services</a>
        </li>
    </ul>
</div>
<div class="show-for-large">
    <a href="#" class="startButton" id="playCarSound" onclick="playCarSound()">
    </a>
    <audio id="audio" src="{{root}}assets/sounds/911.wav" ></audio>
</div>