<div class="hide-for-large">
    <div class="mobileHeader">
        <div class="logoBox">
            <img class="logo" src="https://placekitten.com/310/100">
        </div>
    </div>
    <div class="showMenuContainer">
        <div id="showMenu" class="showMenu">
            <a href="">
                <img class="startButton" src="../assets/img/start_red.png">
            </a>
        </div>
    </div>
</div>

<div class="show-for-large">
    <div class="desktopHeader">
        <div class="cluster">
            <div class="speedo-left">
                <ul>
                    <li><a href="https://www.facebook.com/CarFlingCarClub/"><img onmouseout="this.src='../assets/img/facebook.png'" onmouseover="this.src='../assets/img/facebook_dn.png'" src="../assets/img/facebook.png"></a></li>
                    <li><a href="http://twitter.com/CarFling"><img onmouseout="this.src='../assets/img/twitter.png'" onmouseover="this.src='../assets/img/twitter_dn.png'" src="../assets/img/twitter.png"></a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="/"><img src="{{root}}/assets/img/logo.png"></a>
            </div>
            <div class="speedo-right">
            </div>
        </div>
    </div>
</div>