<div class="hide-for-large">
    <div class="logoHeader">
        <div class="logoBox">
            <img class="logo" src="https://placekitten.com/310/100">
        </div>
    </div>
    <div class="showMenuContainer">
        <div id="showMenu" class="showMenu">
            <a href="">
                <img class="startButton" src="http://carfling.com/assets/images/start_red.png">
            </a>
        </div>
    </div>
</div>

<div class="show-for-large">
    <div class="logoHeader">
        <div class="logoBox">
            <img class="logo" src="https://placekitten.com/310/100">
        </div>
    </div>
</div>