<div class="hide-for-large">
    <div class="logoHeader">
        <div class="logoBox">
            <img class="logo" src="https://placekitten.com/310/100">
        </div>
    </div>
    <div class="showMenuContainer">
        <div id="showMenu" class="showMenu">
            <a href="">
                <img class="startButton" src="../assets/img/start_red.png">
            </a>
        </div>
    </div>
</div>

<div class="show-for-large">
    <div class="logoHeader">
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/CarFlingCarClub/"><img onmouseout="this.src='../assets/img/facebook.png'" onmouseover="this.src='../assets/img/facebook_dn.png'" src="../assets/img/facebook.png"></a></li>
                <li><a href="http://twitter.com/CarFling"><img onmouseout="this.src='../assets/img/twitter.png'" onmouseover="this.src='../assets/img/twitter_dn.png'" src="../assets/img/twitter.png"></a></li>
            </ul>
        </div>
        <!--<div class="logoBox">
            <img class="logo" src="https://placekitten.com/310/100">
        </div>-->
    </div>
</div>