<div class="hide-for-large">
    <div class="logoHeader">
        <div class="logoBox">
            <img class="logo" src="https://placekitten.com/310/100">

        </div>
    </div>
    <div class="showMenuContainer">
        <div id="showMenu" class="showMenu">
            <a href="">
                <img class="startButton" src="https://placekitten.com/200/200">
            </a>
        </div>
    </div>
</div>

<div id="mainNav" class="hide-for-large">
    <div class="navContainer">
        <div id="">
            <ul>
                <li>
                    <a href="{{root}}">Home</a>
                </li>
                <li>
                    <a href="{{root}}">The Cars</a>
                </li>
                <li>
                    <a href="{{root}}">Memberships</a>
                </li>
                <li>
                    <a href="{{root}}">Car Rallies</a>
                </li>
                <li>
                    <a href="{{root}}">Other Services</a>
                </li>
            </ul>
        </div>
        <div id="">
            <ul>
                <li>
                    <a hreff="{{root}}">about us</a>
                </li>
                <li>
                    <a href="{{root}}">contact</a>
                </li>
                <li>
                    <a href="{{root}}">terms and policies</a>
                </li>
                <li>
                    <a href="{{root}}">testimonials</a>
                </li>
                <li>
                    <a href="{{root}}">faqs</a>
                </li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li><a href="Twitter"></a></li>
                <li><a href="Facebook"></a></li>
            </ul>
        </div>
    </div>
</div>