<div class="show-for-large">
    <div class="sideNav">
        <div class="">
            <ul>
                <li>
                    <a hreff="{{root}}">home</a>
                </li>
                <li>
                    <a href="{{root}}">the cars</a>
                </li>
                <li>
                    <a href="{{root}}">memberships</a>
                </li>
                <li>
                    <a href="{{root}}">car rallies</a>
                </li>
                <li>
                    <a href="{{root}}">other services</a>
                </li>
            </ul>
        </div>
        <div class="startButton">
            <a href="">
                <img class="startButton" src="../assets/img/start_red.png">
            </a>
        </div>
    </div>
</div>